<div id="cookie-notice" class="cookie-notice">
<div class="float-end">
  <button id="cookie-notice-close" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
  <p><strong>Cookies</strong></p>
  <p><small>This site uses cookies to measure traffic and remember your preferences.</small></p>
  <div class="" style="margin-top: 15px;">
    <button id="cookie-notice-accept" class="btn btn-primary btn-sm">Accept</button>
    <button id="cookie-notice-reject" class="btn btn-default btn-sm">Reject</button>
    <a href="/cookies/" class="btn btn-link btn-sm">More info &raquo;</a>
  </div>
</div>
